 <ul>
  <li><%= @project.project_name %></li>
  <li>My project is about: <%= @project.project_idea %></li>
  <li>I'm stuck on: <%= @project.project_problem %></li>
</ul>

<form action=<%="/project/" + @project.id.to_s + "/comment/new"%> method="post">
  <label>Potential Solutions</label>
  <textarea class="form-control" name="comment" rows="6"></textarea>
  <input class="btn btn-info" type="submit" value="Sumbit Feedback">
</form>

<% @project.comments.each do |comment| %>
      <ul>
        <li><textarea class="form-control" rows="3"><%=comment.comments%></textarea></li>
        <li><td><%=comment.id%></td></li>
      </ul>
      <form action=<%="/project/" + @project.id.to_s + "/comment/" + comment.id.to_s%> method="post">
        <input type="hidden" name="comment" value="delete">
         <input class="btn btn-info" type="submit" value="Delete Comment">
      </form>
<% end %>








