<div>
  <h5>Project Name: <%= @project.project_name %></h5>
  <h5>My project is about: <%= @project.project_idea %></h5>
  <h5>What I'm stuck on: <%= @project.project_problem %></h5>
</div>
<% unless @project.user_id == current_user.id %>
  <div class="solutions">
    <form action=<%="/project/" + @project.id.to_s + "/comment/new"%> method="post">
      <h4>Potential Solutions</h4>
      <textarea class="form-control" rows="8" cols="130" name="comment"></textarea>
       <input class="btn btn-info" type="submit" value="Sumbit Feedback">
    </form>
    <br>
  </div>
<% end %>
  
<% @project.comments.each do |comment| %>
      <ul>
        <td><%=comment.user.name%></td>      
        <li><%=comment.comments%></li>
      </ul>
      <form action=<%="/project/" + @project.id.to_s + "/comment/" + comment.id.to_s%> method="post">
        <input type="hidden" name="comment" value="delete">
         <input class="btn btn-info" type="submit" value="Delete Comment">
      </form>
<% end %>









